/*
    Grid set up for screens smaller than 700px, the grid is 1 column and four rows.
*/

div {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 9px;
    margin: 0;
    padding: 0;    
}

/*
button - initial stylings for the button element
*/

button {
    background-color: blueviolet;
    color: white;
    height: 25%;
    width: 50%;
    margin: 0;
    padding: 0;

}

/*
button - set up animation for button hover property
*/

button:hover {
    transform: scale(0.75);
    background-color: blue;
    border-color: thistle;
}

/*
h2 - initial element stylings for the h2 element
*/

h2 {
    color: violet;
    font-family: courier, sans-serif;
    font-size: 0.75em;
    width: 250px;
    margin: 0;
    padding: 0;
}

/*
    h2 - the following creates the animation styles for the h2
*/

h2 {
    animation: typing 3s steps(15),
                cursor 0.5s steps(1) infinite;
}

/*
    This @keyframes section creates the typing effect.
*/

@keyframes typing {
    0% {
        width:0px;
    }
    100% {
        width: 100%;
    }
}

/*
    This CSS @keyframe creates the cursor blinking effect
*/

@keyframes cursor {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: blue;
    }

}


/*
.sGrover - gives the initial width for the sGrover image.
*/

.sGrover {
    width: 150px;
    margin: 0;
    padding: 0;
}

/*
Add @media ruleset for screens larger that will set up and display a larger grid.
*/

@media screen and (min-width: 700px) {
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}