
div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    width: 25%;
}

button {
    background-color: blueviolet;
    color: white;
}


/*
Add @media ruleset for screens larger that will set up and display a larger grid.
*/

@media screen and (min-width: 700px)






















